email=shekharkasariya4083@gmail.com
always-auth=true
registry=http://13.233.153.224/repository/noderepo/
//13.233.153.224/repository/noderepo/:_auth=YWRtaW46cGFzc3dvcmQ=
//13.233.153.224/repository/noderepo/:email=shekharkasariya4083.com
allowRepublish=true
